.material-symbols-outlined {
  background-color: rgb(14, 160, 14);
  color: #ffffff;
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24;
}

.addMinus button,  button.close {
  margin: 0.5rem;
  border-radius: 25%;
}