.eachSong {
    background-color: rgba(127, 28, 219, 0.678);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 100%;
    display: grid;
    grid-template: 
        "title buttons" 1fr/ 3fr 1fr;
}

.titleArtist {
    grid-area: title;
}

.tracklistButtons {
    grid-area: buttons;
    align-content: center;
}

.playlistName {
    margin-bottom: 3rem;
    padding: 0 1rem;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0);
    color: #EFEFEF;
    border-radius: 1rem;
    width: 20rem;
}

.playlistName::placeholder {
    color: #EFEFEF;
}

@media only screen and (max-width: 1105px) {
    .playlistName {
        width: 100%;
    }
}

@media only screen and (max-width: 590px)  {

}