.moreInfo h2, .moreInfo h3 {
    text-align: center;
}

.moreInfo h2 {
    margin-bottom: 2rem;
}

.moreInfo h3 {
    margin: 1.5rem 0rem;
}

.moreInfo img {
    max-width: 65%;
    height: auto;
}

.moreInfo audio {
    padding: 0.5rem;
}

@media only screen and (max-width: 920px) {
    .moreInfo h2, .moreInfo h3 {
        padding: ;
    }
}