* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    
}

h2, h3 {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #EFEFEF;
    text-align: left;
}

.dividedArea {
    background-color: rgba(0, 3, 156, 0.5);
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0.6rem 0.6rem 1rem;
    height: 43rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.199) rgba(0, 0, 0, 0);
}

.songSections {
    display: grid;
    grid-template: 
        "search search more more" 1fr
        ". playlist playlist ." 1fr/ 1fr 1fr 1fr 1fr;
    justify-content: center;
    gap: 2rem;
    margin: 4rem 6rem;
    box-shadow: 1rem 1rem 3rem;
    padding: 5rem;
    border-radius: 1rem;
}


.searchList {
    grid-area: search;
}

.searchList div, .AddedSongs div {
    display: flex;
    justify-content: space-between;
}

.moreInfo {
    grid-area: more;
}

.moreInfo h3 {
    margin: 1.5rem 0;
}

.AddedSongs {
    grid-area: playlist;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    
}

.searchBar {
    margin: 5rem 0;
}

.spotifyButtons button, button.spotifyButtons {
    background-color: rgb(14, 160, 14);
    color: #EFEFEF;
    padding: 1rem;
    border-radius: 1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 4rem;
    letter-spacing: 0.1rem;
    height: 3.3rem;
    width: 11rem;
}